.circle
{
width:200;
height:200;
border-radius:50%;
font-size:20px;
position: fixed;
top:10px;
left:500px;
color:#fff;
line-height:500px;
text-align:center;
background:#000
}
#GroundBottom{
	 width: 2000px;
	 border-top: thick solid blue;
	 position: absolute;
	 top: 50px;
}
#VerticalLeftLine{
	 height: 2000px;
	 border-left: thick solid blue;
	 position: absolute;
	 left: 50px;
}
#VerticalRightLine{
	 height: 2000px;
	 border-left: thick solid blue;
	 position: absolute;
	 left: 50px;
}